div.container {
    margin-top: 20px;
}

div.ad-titles {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.ad-titles h1, div.ad-titles p {
    color: white;
    text-shadow: 3px 3px rgb(0, 0, 0, 0.5);
}

div.carousel-caption {
    text-shadow: 3px 3px rgb(0, 0, 0, 0.5);
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini {
    max-width: 34px;
    max-height: 34px;
}

.avatar-micro {
    max-width: 25px;
    max-height: 25px;
}

.alert a {
    text-decoration: none;
}

.alert .btn {
    color: white;
}

.alert-heading {
    color: black;
    font-size: 2rem;
}