{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<div class="container">
    <h1>Oups ! la page que vous rechercher n'existe pas !</h1>
    <p>Vous pouvez retouner à l'accueil ou allez directement vers nos annonces</p>

    <a href="{{ path('homepage') }}" class="btn btn-primary">Retour a l'accueil</a>
    <a href="{{ path('ads_index') }}" class="btn btn-success">Nos annonces</a>
</div>
{% endblock %}